<form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Expressing your Ideas has never been easier</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="textHelp"
      [(ngModel)]="newQuote.proverb"
      name="name"
      #quote="ngModel"
      required
      placeholder="Share your Own Quotes here"
    />
    <div [hidden]="quote.valid || quote.pristine" class="alert alert-warning">
      <p>Quote is required. Find new ways to express your ideas!</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="newQuote.user"
      name="name"
      #name="ngModel"
      required
      placeholder="Name"
    />
    <div [hidden]="name.valid || name.pristine" class="alert alert-warning">
      <p>Provide your Full Names</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="newQuote.author"
      name="name"
      #author="ngModel"
      required
      placeholder="Quote Author"
    />
    <div [hidden]="author.valid || author.pristine" class="alert alert-warning">
      <p>
        Fill in the name of the Author name,
        <strong><em>unknown</em></strong> if author is not known
      </p>
    </div>
  </div>
  <button class="btn btn-warning">Raise your Quote Here</button>
</form>
